---
layout: default
baseurl: /cv
title: CV
description: Curriculum vitae of Chaewon Baek
---

{% assign publications = site.publication | group_by: 'year' | sort: 'name' | reverse %}

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <main>
                <header>
                  <h1>Chaewon Baek <a class="pdf" href="{{ '/assets/pdf/cv_250128.pdf' | relative_url }}" rel="external"><i class="fas fa-file-pdf"></i> <b>PDF</b></a></h1>
                  <p><a href="#" class="cryptedmail"
                    data-name="cwb1207"
                    data-domain="snu"
                    data-tld="ac.kr"
                    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a><br><a href="https://donghoon.io">donghoon.io</a><br></p>
                </header>
                <section id="education">
                  <h2>Education</h2>
                  <div class="dated-entry">
                      <div class="dated-date">2019 - 2025</div>
                      <div class="dated-content"><b><a href="https://snu.ac.kr/">Seoul National University</a></b>, Seoul, Korea<br>
                      B.S., <a href="https://me.snu.ac.kr/">Mechanical Engineering</a><br>
                      B.S., <a href="https://ee.snu.ac.kr/">Electrical and Computer Engineering</a><br>
                      <small>Major GPA <i>4.11</i></small><br>
                      </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2016 - 2019</div>
                    <div class="dated-content"><b><a href="https://uw.edu">Daegu Science High School</a></b>, Daegu, Korea<br>
                    <small>Highschool for gifted students in science</small><br>
                    </div>
                </div>
                </section>
                <section id="research">
                  <h2>Research Experience</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2024.8, 2025.2 </div>
                    <div class="dated-content">
                      <b><a href="https://www.isas.jaxa.jp/en/">Institute of Space and Aeronautical Science(ISAS)</a></b>, <a href="https://global.jaxa.jp/">Japan Aerospace Exploration Agency(JAXA)</a><br>
                      Visiting student<br>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2023 - </div>
                    <div class="dated-content">
                      <b><a href="https://starlab.snu.ac.kr/">SNU Transformative Architecture(STAR) Lab</a></b>, <a href="https://snu.ac.kr/">Seoul National University</a><br>
                      Research intern<br>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020 - 2021</div>
                    <div class="dated-content">
                      <b><a href="https://www.biorobotics.snu.ac.kr/">Biorobotics Lab</a></b>, <a href="https://snu.ac.kr/">Seoul National University</a><br>
                      Research intern<br>
                    </div>
                  </div>
                </section>
                <section id="publications">
                  <h2>Publications</h2>
                  {% for pubs in publications %}
                    {% assign pub_items_sorted = pubs.items | sort: "month" | reverse %}
                    {% for pub in pub_items_sorted %}
                    <div class="dated-entry">
                      <div class="dated-date">{% if forloop.first %}{{ pubs.name }}{% endif %}</div>
                      <div class="dated-content"><a style="font-weight: 400" href="{{ '/publication/' | append: pub.slug | relative_url }}">{{ pub.title }}</a><br>
                        {% for author in pub.authors %}
                        {% assign author_data = site.data.people.people | where:"name", author | first %}
                        {% if author == "Donghoon Shin" %}<a style="font-weight: 400 !important" href="https://donghoon.io">Donghoon Shin</a>{% if pub.coauthors contains author %}*{% endif %}{% else %}{% if pub.coauthors contains author %}{% if author_data.website %}<a href="{{ author_data.website }}" class="coauthor" style="font-weight: 400 !important">{{ author }}</a>*{% else %}<span class="coauthor" style="font-weight: 400 !important">{{ author }}</span>*{% endif %}{% else %}{% if author_data.website %}<a href="{{ author_data.website }}" class="coauthor">{{ author }}</a>{% else %}<span class="coauthor">{{ author }}</span>{% endif %}{% endif %}{% endif %}{% unless forloop.last%}, {% endunless %}
                        {% endfor %}{% if pub.coauthors %}<span style="font-size: .8rem; font-weight: 300" class="ms-2">(* co-first authorship)</span>{% endif %}
                        <br>
                        {{ pub.venue }}.{% if pub.note %} <span style="font-weight: 200 !important">({{ pub.note}})</span>{% endif %}<br>
                        {% if pub.award %}<i class="fas fa-medal"></i><span style="font-weight: 400">{{ pub.award }}</span><br>{% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </section>
                <section id="awards">
                  <h2>Honors and Awards</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2024</div>
                    <div class="dated-content">
                      <b>Ministerial Award from the Ministry of Education</b>, Republic of Korea<br>
                      Won second place in nationwide semiconductor solve-a-thone among ~100 teams, received ~$4,000
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2024</div>
                    <div class="dated-content">
                      <b>Outstanding B.S. Thesis Presentation Award</b>, Seoul National University<br>
                      Selected as one of the best B.S. mechanical engineering thesis in 2024
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2024, 2025</div>
                    <div class="dated-content">
                      <b>Semiconductor Scholarship</b>, Korea Institute for Advancement of Technology (KIAT)<br>
                      Received ~$13,000 in total, Multiple chances of attending overseas conference
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2024</div>
                    <div class="dated-content">
                      <b>Undergraduate Research Grant</b>, Seoul National University<br>
                      ~$5,000 research grant for undergraduate research project
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2024, 2025</div>
                    <div class="dated-content">
                      <b>Sinyang Cultural Foundation Scholarship</b>, Sinyang Cultural Foundation<br>
                      Full-tuition scholarship, ~100 recipients selected annually
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2021</div>
                    <div class="dated-content">
                      <b>Grand Prize in 'Mechatronics' Course</b>, Seoul National University<br>
                      Awarded for designing a feasible product, received ~$2,000
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2021</div>
                    <div class="dated-content">
                      <b>Local Talent Scholarship</b>, Gimcheon-Si<br>
                      Merit-based scholarship, ~$2,000
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020, 2021, 2023</div>
                    <div class="dated-content">
                      <b>Merit-based Scholarship</b>, Seoul National University<br>
                      Undergraduate merit-based scholarship
                    </div>
                  </div>
                </section>
                <section id="teaching">
                  <h2>Teaching Experience</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2023</div>
                    <div class="dated-content"><b>Undergraduate Course Assistant</b>, Seoul National University<br>
                      Fluid Mechanics (M2794.001300)</div>
                  </div>
                </section>
                <section id="service">
                  <h2>Services</h2>
                  <h3>Program Committee</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2024, 2025</div>
                      <div class="dated-content">ACM CHI</div>
                    </div>
                    <div class="dated-entry">
                      <div class="dated-date">2025</div>
                      <div class="dated-content">ACM IUI</div>
                    </div>
                  </div>
                  <h3>Reviewer</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2020 -</div>
                      <div class="dated-content">ACM CHI</div>
                    </div>
                    <div class="dated-entry">
                      <div class="dated-date">2024</div>
                      <div class="dated-content">ACM CSCW</div>
                    </div>
                    <div class="dated-entry">
                      <div class="dated-date">2023</div>
                      <div class="dated-content">ACM DIS</div>
                    </div>
                    <div class="dated-entry">
                      <div class="dated-date">2021</div>
                      <div class="dated-content">ACM MobileHCI</div>
                    </div>
                    <div class="dated-entry">
                      <div class="dated-date">2021</div>
                      <div class="dated-content">Journal of Medical Internet Research</div>
                    </div>
                  </div>
                  <h3>Admission Committee</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2023</div>
                      <div class="dated-content">Student reviewer for UW HCDE Ph.D. admission</div>
                    </div>
                  </div>
                  <h3>Student Volunteer</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2020</div>
                      <div class="dated-content">ACM ISS</div>
                    </div>
                  </div>
                </section>
              </main>
        </div>
    </div>
</div>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<style>
    /* reset base styles */
    * { box-sizing: border-box; margin: 0; padding: 0; }
  
    /* page header */
    header { margin-bottom: 2rem; padding-left: 6.5rem; }
    header h1 { font-size: 1.5rem; }
    header p { margin: .5rem 0; font-size: 1rem !important}

    main b {font-weight: 500}
  
    /* normal body content */
    h2 { font-size: 1.1rem; margin-bottom: 0.75rem; margin-left: 6.5rem; text-transform: uppercase; }
    h3 { border-bottom: 1px solid black; font-size: .9rem; margin: 1rem 0 .5rem 6.5rem }
    p { margin-bottom: 0.5rem; }
    a { color: inherit; /*#0000ee;*/ }
    section { margin-bottom: 3rem; }
  
    /* misc */
    .pdf { font-size: .9rem !important; font-weight: 300; margin-left: 1.5rem; white-space: nowrap;}
    .pdf i { margin-right: .1rem;}
    
    .material { font-size: small; margin-left: .5rem;}
    :global(i) {
      padding-right: 4px !important
    }
  
    /* dated entries */
    .dated-entry { display: flex; flex-flow: row wrap; position: relative; margin-bottom: 1rem; }
    .dated-date { width: 6.5rem; text-align: right; padding-top: .15rem; padding-right: 1.5rem; font-size: .8rem }
    .dated-content { width: calc(100% - 6.5rem); font-size: .95rem}
  
    .oneline-entries { margin-bottom: 0.5rem; }
    .oneline-entries .dated-entry { margin-bottom: 0; }
  
    /* hide extra awards info for now, not sure what to include */
    #awards em { display: none; }
    
    .author-tooltip {
      font-weight: 400;
      font-size: .8rem !important;
      text-align: center;
    }
  
    /* on narrow displays, make the font smaller */
    @media (max-width: 480px) {
      html { font-size: 14px; }
    }
  
    /* when printing, make the font smaller and the page full-width */
    @media print {
      html { font-size: 12px; }
      main { margin-top: 0; max-width: 100%; }
    }
    </style>
